.square-overlay {
    position: absolute;
    top: 48vh;
    left: 50%;
    width: 90vw;
    height: 90vw;
    max-height: 60vh;
    max-width: 90vh;
    background-color: transparent;
    border-right: 1px white solid;
    border-left: 1px white solid;
    border-radius: 50px;
    transform: translate(-50%, -50%);
}
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: black;
}

.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.header {
    position: absolute;
    top: 0;
    left: 5vw;
    width: 90vw;
    color: aliceblue;
    font-size: 15px;
    padding-bottom: 5em;
    margin: 2em 2em 2em 0;
    z-index: 1;
}

/* Tablet Styles */
@media only screen and (max-width: 1000px) {
    .header {
        font-size: 12px;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 800px) {
    .header {
        font-size: 10px;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 460px) {
    .header {
        font-size: 8px;
    }
}

