.document-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    grid-template-areas:
      "a b";
    margin: 10px;
}


.neuro-header {
    /* Place at top of the page */
    max-width: 90%;
}

.scrollable {
    /* Make the div scrollable */
    overflow-y: scroll;
    max-height: 80vh;
}

.item1 {
    grid-area: a;
}
.item2 {
    grid-area: b;
}
