body {
  background-color: black;
  --circle-color1: rgba(144, 207, 239, 0.2);
  --circle-color2: rgb(144, 207, 239);
  --circle-color3: rgb(109, 191, 255);
  --circle-color4: rgb(50, 142, 243);
  --circle-color5: rgb(184, 138, 255);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.App {
  text-align: center;
}

.container{
  position:relative;
  width:100%;
  max-width:1000px;
  text-align:center;
  margin:0 auto;
  padding:0 20px;
  box-sizing:border-box;
  display:block
}

.react-p5 {
  filter: blur(20px); /* Adjust this value to change the blur amount */
}

.dot-pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 1.5px, transparent 1.5px);
  background-size: 3px 3px;
  pointer-events: none;
}

.code-text {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  position: absolute;
}

.header {
  position: absolute;
  top: 0;
  left: 5vw;
  width: 100%;
  color: aliceblue;
  font-size: 15px;
  padding-bottom: 5em;
  margin: 2em 2em 2em 0;
}

/* Tablet Styles */
@media only screen and (max-width: 900px) {
  .description-item {
    font-size: 15px;
  }

  .focus-circle {
    margin-left: 15px;
  }
}


/* Tablet Styles */
@media only screen and (max-width: 700px) {
  .description-item {
    font-size: 15px;
  }

  .focus-circle {
    margin-left: 15px;
  }
}


/* Mobile Styles */
@media only screen and (max-width: 660px) {
  .description-item {
    font-size: 15px;
    flex-direction: column;
  }

  .focus-circle {
    margin-left: 10px;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 460px) {
  .description-item {
    font-size: 15px;
    flex-direction: column;
  }

  .focus-circle {
    margin-left: 10px;
  }
}
